<div class="main">
  <div class="container">
    <div class="top">
      <div class="header-text">
        <h1>Request History</h1>
      </div>
    </div>

    <div class="body">
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Category</th>
              <th>Location</th>
              <th>Date</th> <!-- Added Date column -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let collection of collections">
              <td>{{ collection.username }}</td>
              <td>{{ collection.email }}</td>
              <td>{{ collection.category }}</td>
              <td>{{ collection.location }}</td>
              <td>{{ collection.pickup_date }}</td> <!-- Display pickup_date -->
            </tr>
            <tr *ngIf="collections.length === 0">
              <td colspan="5">No collection history found.</td> <!-- Updated colspan to 5 -->
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="errorMessage" class="validation-error">{{ errorMessage }}</div>
    </div>
  </div>
</div>