<div class="main">
    <div class="container">
        <div class="top">
            <div class="header-text">
                <h1>User Requests</h1>
            </div>
        </div>

        <div class="body">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table rows will be dynamically added here -->
                        <tr>
                            <td>John Doe</td>
                            <td>johndoe{{'@'}}example.com</td>
                            <td>Become a collector</td>
                            <td>
                                <button class="approve-btn">Approve</button>
                                <button class="reject-btn">Reject</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Jane Smith</td>
                            <td>janesmith{{'@'}}example.com</td>
                            <td>Become a collector</td>
                            <td>
                                <button class="approve-btn">Approve</button>
                                <button class="reject-btn">Reject</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
