<div class="sidebar" [class.active]="isActive">
    <div class="logo_content">
      <div class="logo">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <div class="logo_name">WASTETRACK</div>
      </div>
      <i class="fa fa-sliders" aria-hidden="true" (click)="toggleSidebar()"></i>
    </div>
    <div class="nav_list">
      <ul>
        <!-- Dashboard -->
        <li>
          <a routerLink="user-dashboard">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        
        <!--History-->
        <li>
          <a routerLink="user-history">
            <i class="fa-solid fa-clock-rotate-left" aria-hidden="true"></i>
            <span class="links_name">History</span>
          </a>
          <span class="tooltip">History</span>
        </li>

        <!-- Profile -->
        <li>
          <a routerLink="/users/user-profile">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="links_name">Profile</span>
          </a>
          <span class="tooltip">Profile</span>
        </li>
  
        <!-- Log Out -->
        <li>
          <a (click)="logout()" class="bottom">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="links_name">Log out</span>
          </a>
          <span class="tooltip">Log Out</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="home_content">
    <div class="text"></div>
  </div>