<div class="main">
  <div class="container">

    <div class="navbar-section">
      <div class="brand-name">
        <h1>WASTETRACK</h1>
      </div>

      <nav>
        <p>Home</p>
        <p>About Us</p>
        <p>Contact Us</p>
        <p><a routerLink="login">Join Us</a></p>
      </nav>
    </div>

    <div class="body-section">
      <div class="hero">
        <div class="hero-text">
          <h1>WELCOME TO WASTETRACK</h1>
          <p>WASTE AND RECYCLING SOLUTIONS</p>
          <P>For your home, neighbourhood and business</P>
          <p>Track your waste and save the planet</p>
        </div>

        <p class="get-started">Ready to get started?</p>
          <div class="get-started-btns">
            <button routerLink="login">Sign Up</button>
            <button routerLink="login">Log In</button>
          </div>
      </div>

      <div class="about-us">
        <div class="residential-column">
          <i class="fa-solid fa-house-chimney"></i>
          <h3>Residential</h3>
          <p>Safe and relaible curbside collection service for residential customers</p>
        </div>

        <div class="commercial-column">
          <i class="fa-solid fa-building"></i>
          <h3>Commercial</h3>
          <p>Cost-effective waste management solutions for your business</p>
        </div>

        <div class="neighborhood-column">
          <i class="fa-solid fa-city"></i>
          <h3>Neighborhood</h3>
          <p>Community-based waste management solutions for your neighborhood</p>
        </div>
      </div>

      <div class="contact-us">
        <div class="contact-form">
          <div class="left-side">
            <h2>Talk to us</h2>
            <p>Have any questions?</p>

            <form action="">
              <div class="inputs">
                <input type="text" name="name" id="" placeholder="Your Name" required>
                <input type="email" name="email" id="" placeholder="Your Email" required>
                <textarea name="textarea" id="" placeholder="Message"></textarea>
              </div>
              <div class="btns">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>

          <div class="right-side">
            <h2>Contact Information</h2>
            <p>WasteTrack Company Ltd</p>
            <p>East Africa, Kenya</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="top-footer">
        <div class="info">
          <i class="fa-solid fa-trash-arrow-up"></i><br>
          <h3>WasteTrack</h3>
          <p>WasteTrack is a waste management company that provides <br> waste and recycling solutions for residential, <br>commercial and neighborhood customers</p>
        </div>

        <div class="quick-links">
          <h3>Quick Links</h3>
          <p>Home</p>
          <p>About Us</p>
          <p>Contact Us</p>
          <p>Join Us</p>
        </div>

        <div class="contact-info">
          <h3>Contact Information</h3>
          <p>0712345678</p>
          <p>Monday - Friday: 8:00am to 5:00pm</p>
          <p>Weekends: 10:00am to 3:00pm</p>
          <p>Closed on holidays</p>
          <p>customerservice{{'@'}}yopmail.com</p>
          <p>WasteTrack Company Ltd</p>
          <p>East Africa, Kenya</p>
        </div>

        <div class="social-media">
          <h3>Follow Us</h3>
          <i class="fa-brands fa-twitter"></i><br>
          <i class="fa-brands fa-instagram"></i><br>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>

      <div class="bottom-footer">
        <p>&copy; 2024 WasteTrack Co. All rights reserved</p>
      </div>
    </div>
  </div>
</div>

