<div class="main">
  <div class="container">
    <div class="top">
      <div class="header-text">
        <h1>Collector Dashboard</h1>
      </div>
    </div>

    <div class="body">
      <!-- Left Side: Stats -->
      <div class="left-side">
        <div class="stats-text">
          <h2>Stats</h2>
        </div>

        <div class="stats">
          <div class="stat-card pending-stats">
            <p class="stat-number">{{ pendingRequests }}</p>
            <p class="stat-label">Pending Requests</p>
          </div>

          <div class="stat-card complete-stats">
            <p class="stat-number">{{ completedRequests }}</p>
            <p class="stat-label">Completed Requests</p>
          </div>
        </div>
      </div>

      <!-- Right Side: Categories -->
      <div class="right-side">
        <div class="category-text">
          <h2>Based on Categories</h2>
        </div>

        <div class="category-stats">
          <div class="category-card" *ngFor="let stat of categoryStats">
            <p class="category-number">{{ stat.count }}</p>
            <p class="category-label">{{ stat.category }}</p>
          </div>
          <div class="category-card" *ngIf="categoryStats.length === 0">
            <p class="category-number">0</p>
            <p class="category-label">No Categories</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage" class="validation-error">{{ errorMessage }}</div>
  </div>
</div>